@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Alexsandro Ramos
    Developer Web<br />
    Mogi das Cruzes, SP<br />
    <abbr title="Phone">(11) 95285-2634</abbr>
   
</address>

<address>
    <strong>E-Mail:</strong> <a href="mailto:al-ramos@hotmail.com">al-ramos@hotmail.com</a><br />    
</address>
